[submodule "precompile/contracts/solidity/lib/forge-std"]
	path = precompile/contracts/solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "precompile/contracts/solidity/lib/solmate"]
	path = precompile/contracts/solidity/lib/solmate
	url = https://github.com/transmissions11/solmate
